---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'

const response = await fetch('https://music-api.charca.workers.dev/albums')
const albums = await response.json()
---

<Layout title="Astro Records">
  <section class="py-8">
    <div
      class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex items-center flex-wrap pt-4 pb-12"
    >
      <h2 class="font-bold text-3xl text-black tracking-tight mb-12">
        Recently Played
      </h2>

      <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        {
          albums.results.map((album) => (
            <Card
              id={album.idAlbum}
              name={album.strAlbum}
              artist={album.strArtist}
              image_url={album.strAlbumThumb}
            />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
