<footer
  class="container mx-auto max-w-screen-lg px-6 lg:px-0 flex items-center flex-wrap pt-4 pb-32"
>
  <div class="container flex px-3 py-8">
    <div class="w-full mx-auto flex flex-wrap">
      <div class="flex w-full lg:w-1/2">
        <div class="px-3 md:px-0">
          <h3 class="font-bold text-gray-900">About</h3>
          <p class="py-4">
            This site is a demo of an Astro SPA using <strong>Astro 3</strong
            > with the experimental support for the View Transitions API and persistent
            islands✨
          </p>
          <p>
            Made with ❤️ by <a
              href="https://twitter.com/charca"
              target="_blank"
              rel="noopener noreferrer"
              class="underline focus-visible:ring-2 focus:outline-none focus:ring-black">Maxi Ferreira</a
            > — <a
              href="https://docs.astro.build/en/guides/view-transitions/#maintaining-state"
              target="_blank"
              rel="noopener noreferrer"
              class="underline focus-visible:ring-2 focus:outline-none focus:ring-black">Learn more</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
