---
import { ViewTransitions } from 'astro:transitions'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Player from '../components/Player'
import '../styles/transitions.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <meta name="turbo-cache-control" content="no-cache" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <!-- <script>
      import '../scripts/router.js'
    </script> -->
  </head>
  <body
    class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal"
  >
    <Header />
    <slot />
    <Footer />
    <div id="audio-player">
      <Player client:load transition:persist="player" />
    </div>
  </body>
</html>
